{% extends 'base.html.twig' %}

{% block title %}Générateur de PDF{% endblock %}

{% block body %}
    <div class="container mt-5 text-center">
        <h1>Bienvenue sur notre application de générateur de PDF</h1>
        <p>Générer des PDF à l'aide d'URL, de fichier HTML</p>

        <div class="mt-4">
            <h4>Nombre de PDF générés</h4>
            <div class="progress mt-3" style="height: 25px;">
                <div class="progress-bar" role="progressbar"
                     style="width: {{ progress }}%;"
                     aria-valuenow="{{ pdfGeneratedToday }}"
                     aria-valuemin="0"
                     aria-valuemax="{{ maxPdfLimit }}">
                    {{ pdfGeneratedToday }} / {{ maxPdfLimit }} PDFs générés
                </div>
            </div>

        </div>
    </div>
{% endblock %}